openapi: 3.0.3
info:
  title: Auto Video Generation System API
  description: |
    Auto Video Generation System 是一個完整的 AI 驅動影片生成平台，
    提供從腳本生成到影片發布的端到端自動化流程。
    
    ## 主要功能
    - 🎬 自動影片生成
    - 🎭 AI 語音克隆
    - 🎨 智能內容創作
    - 📱 社群媒體整合
    - 📊 趨勢分析
    - ⏰ 自動排程發布
    
    ## 認證
    所有 API 端點都需要 JWT 認證，請在請求標頭中包含：
    ```
    Authorization: Bearer <your_jwt_token>
    ```
    
    ## 速率限制
    - 一般端點：30 請求/分鐘
    - 影片生成：10 請求/分鐘
    - 檔案上傳：20 請求/分鐘
    - 管理端點：10 請求/分鐘
  version: 1.0.0
  contact:
    name: API Support
    email: support@video-system.com
    url: https://video-system.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.video-system.com/v1
    description: Production server
  - url: http://localhost:8000/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: 用戶註冊
      description: 創建新用戶帳戶
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - username
              properties:
                email:
                  type: string
                  format: email
                  description: 用戶電子郵件
                password:
                  type: string
                  minLength: 8
                  description: 用戶密碼
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                  description: 用戶名稱
      responses:
        '201':
          description: 註冊成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: 請求參數錯誤
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 用戶已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: 用戶登入
      description: 使用電子郵件和密碼登入
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: 用戶電子郵件
                password:
                  type: string
                  description: 用戶密碼
      responses:
        '200':
          description: 登入成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: 認證失敗
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      tags:
        - Authentication
      summary: 獲取用戶資料
      description: 獲取當前登入用戶的資料
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功獲取用戶資料
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: 未授權
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /video/generate:
    post:
      tags:
        - Video Generation
      summary: 創建影片生成專案
      description: 開始一個新的影片生成專案
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '201':
          description: 專案創建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoProjectResponse'
        '400':
          description: 請求參數錯誤
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授權
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /video/projects/{project_id}:
    get:
      tags:
        - Video Generation
      summary: 獲取影片專案
      description: 獲取特定影片專案的詳細資訊
      security:
        - BearerAuth: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
          description: 專案 ID
      responses:
        '200':
          description: 成功獲取專案
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoProjectResponse'
        '404':
          description: 專案不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /video/projects:
    get:
      tags:
        - Video Generation
      summary: 獲取用戶影片專案列表
      description: 獲取當前用戶的所有影片專案
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: 每頁專案數量
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: 偏移量
      responses:
        '200':
          description: 成功獲取專案列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoProjectResponse'

  /ai/script/generate:
    post:
      tags:
        - AI Services
      summary: 生成腳本
      description: 使用 AI 生成影片腳本
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScriptGenerationRequest'
      responses:
        '200':
          description: 腳本生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScript'

  /ai/voice/synthesize:
    post:
      tags:
        - AI Services
      summary: 語音合成
      description: 將文字轉換為語音
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSynthesisRequest'
      responses:
        '200':
          description: 語音合成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSynthesisResponse'

  /social/posts:
    get:
      tags:
        - Social Media
      summary: 獲取社群媒體貼文
      description: 獲取用戶的社群媒體貼文列表
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功獲取貼文列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialPost'

  /trends/analysis:
    get:
      tags:
        - Trends
      summary: 獲取趨勢分析
      description: 獲取當前熱門趨勢分析
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功獲取趨勢分析
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsAnalysis'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - email
        - username

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          default: bearer
        expires_in:
          type: integer
          description: Token 過期時間（秒）
        user:
          $ref: '#/components/schemas/User'
      required:
        - access_token
        - token_type
        - user

    VideoGenerationRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        theme:
          type: string
          description: 影片主題
        style:
          type: string
          default: modern
          description: 視覺風格
        duration:
          type: integer
          minimum: 15
          maximum: 300
          default: 60
          description: 影片時長（秒）
        voice_type:
          type: string
          default: default
          description: 語音類型
        music_genre:
          type: string
          default: ambient
          description: 背景音樂類型
        include_captions:
          type: boolean
          default: true
          description: 是否包含字幕
        target_platform:
          type: string
          enum: [youtube, tiktok, instagram, facebook]
          default: youtube
          description: 目標平台
      required:
        - title
        - theme

    VideoProjectResponse:
      type: object
      properties:
        project_id:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
          enum: [pending, generating_script, generating_voice, generating_images, composing, rendering, completed, failed]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        created_at:
          type: string
          format: date-time
        estimated_completion:
          type: string
          format: date-time
        preview_url:
          type: string
          format: uri
        final_url:
          type: string
          format: uri
      required:
        - project_id
        - title
        - status
        - progress
        - created_at

    ScriptGenerationRequest:
      type: object
      properties:
        theme:
          type: string
          description: 腳本主題
        duration:
          type: integer
          description: 目標時長（秒）
        style:
          type: string
          description: 內容風格
        target_audience:
          type: string
          description: 目標觀眾
      required:
        - theme
        - duration

    GeneratedScript:
      type: object
      properties:
        content:
          type: string
          description: 完整腳本內容
        scenes:
          type: array
          items:
            type: object
            properties:
              scene_number:
                type: integer
              description:
                type: string
              visual_description:
                type: string
              narration_text:
                type: string
              duration:
                type: integer
        narration_text:
          type: string
          description: 純文字敘述
      required:
        - content
        - scenes
        - narration_text

    VoiceSynthesisRequest:
      type: object
      properties:
        text:
          type: string
          description: 要合成的文字
        voice_type:
          type: string
          description: 語音類型
        speed:
          type: number
          default: 1.0
          description: 語音速度
        pitch:
          type: number
          default: 1.0
          description: 語音音調
      required:
        - text

    VoiceSynthesisResponse:
      type: object
      properties:
        audio_url:
          type: string
          format: uri
          description: 生成的音頻檔案 URL
        duration:
          type: number
          description: 音頻時長（秒）
        word_count:
          type: integer
          description: 文字字數
      required:
        - audio_url
        - duration

    SocialPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          enum: [youtube, tiktok, instagram, facebook]
        content:
          type: string
        media_url:
          type: string
          format: uri
        scheduled_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [draft, scheduled, published, failed]
        engagement_metrics:
          type: object
          properties:
            views:
              type: integer
            likes:
              type: integer
            shares:
              type: integer
            comments:
              type: integer

    TrendsAnalysis:
      type: object
      properties:
        trending_topics:
          type: array
          items:
            type: object
            properties:
              topic:
                type: string
              popularity_score:
                type: number
              growth_rate:
                type: number
              related_keywords:
                type: array
                items:
                  type: string
        platform_insights:
          type: object
          properties:
            youtube:
              type: object
            tiktok:
              type: object
            instagram:
              type: object
        recommendations:
          type: array
          items:
            type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: 錯誤訊息
        code:
          type: string
          description: 錯誤代碼
        details:
          type: object
          description: 詳細錯誤資訊
      required:
        - error

tags:
  - name: Authentication
    description: 用戶認證相關 API
  - name: Video Generation
    description: 影片生成相關 API
  - name: AI Services
    description: AI 服務相關 API
  - name: Social Media
    description: 社群媒體整合 API
  - name: Trends
    description: 趨勢分析相關 API